/* #page-content {
  position: relative;
  /* this element's width controls the effective height */
  /* of the video container's padding-bottom */
  /* max-width: 640px;
  margin: 10px auto;
  overflow: hidden;
} */

/* #video-container {
  position: relative; */
  /* forces the container to match a 16x9 aspect ratio */
  /* replace with 75% for a 4:3 aspect ratio, if needed */
  /* padding-bottom: 56.25%; */
  /* position: relative; */
/* } */

/* #video-element { */
  /* forces the contents to fill the container */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* margin-bottom: 0px; */
/* } */

/* #ad-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#pause-button {
  display: none;

}

#play-button {
  display: inline-block;

}  */

/* .menuPosition{
    position: absolute;
    bottom: 0;
    left: 0;

    margin-bottom: 0px;
  } */


/* #mainContainer {
    position: relative;
    width: 640px;
    height: 360px;
  }
  
  #content, #adContainer2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 360px;
  }
  
  #contentElement {
    width: 640px;
    height: 360px;
    overflow: hidden;
  }
  
  #playButton {
    margin-top:-10px;
    vertical-align: top;
    width: 350px;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2c3e50;
    border: 0;
    border-bottom: 2px solid #22303f;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #22303f;
    box-shadow: inset 0 -2px #22303f;
    float: left;
  }
  
  #countdownUi2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    text-align: center;
    width: 270px;
    height: 60px;
    line-height: 60px;
  }

  #Bar{
    width: 100%;
    height: 10px;
    background:rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
    overflow: hidden;
    cursor: pointer;
  }

  #progressBar{
    width: 100%;
    height: 10px;
    background:rgba(241, 241, 241, 0.9);
    border-radius: 2.5px;
    overflow: hidden;
    left: -100%;
    position: absolute;
    -webkit-transform: translate(0%); 
    -o-transform: translate(0%);      
    transform: translate(0%);         
   }  */


.container{
  max-width: 640px;
  max-height: 620px;
  /* margin: 10px auto;
  overflow: hidden; */
}
  
.container__in{

    width: 640px;
    height: 360px;
}

.p__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.p_ima {
  width: 100%;
  height: 100%;
  position: relative;
}

.p__soundOff {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.p__soundOff svg {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.p__soundOn {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.p__soundOn svg {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.p__play {

  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.p__play svg {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.p__cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p__pause {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.p__pause svg {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.p__cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p__ad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p__video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#Bar {
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2.5px;
  overflow: hidden;
  cursor: pointer;
}

#progressBar {
  width: 100%;
  height: 10px;
  background: rgba(241, 241, 241, 0.9);
  border-radius: 2.5px;
  overflow: hidden;
  left: -100%;
  position: absolute;
  -webkit-transform: translate(0%);
  -o-transform: translate(0%);
  transform: translate(0%);
}

.countdownUi{
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.volume{
width: 30px;
height: 10px;
margin: 10px;
}

.videoTime{
  width: 400px;
  height: 10px;
  margin: 10px;
}